.mainBanner {
    width: 100vw;
    height: 256px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}


.calendar {
    display: flex; 
    justify-content: center;
    align-items: center; 
    
}

.quickBase {
    position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
 }
 .doc {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100%;
    
 }

 .FB-Logo {
    width: 80px;
    height: 40px; 
 }


.newsletter {
    background-color: rgb(215, 210, 210);
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 20rem;
    flex-direction: column;
}

.newsImage {
    width: 555px;
    height: 800px;
}

.mainTitle {
    font-family: 'Anton', sans-serif;
}

.marketing-wallpaper {
    background-image: url("FB-marketing.jpg");
    background-size: cover;
    
}


.padding-promos {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.padding-fundraiser {
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.hqDirectory {
    position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
     
     

 }
 .hqDoc {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100%;
 }